<h1>Create new meow</h1>

<form method='POST' enctype='multipart/form-data'>
  <label for='input-message'>Message</label>
  <textarea
    id='input-message'
    name='message'
    placeholder='Your message...'
  ></textarea>
  <label for='input-picture'>An illustrative picture</label>
  <input id='input-picture' type='file' accept='image/*' name='picture' />
  <button type='submit'>Publish meow</button>
</form>